
.o_form_view .o_form_sheet_bg > .o_form_sheet {
    max-width: 1280px;
}

.o_attachment {
    width: 100%;

@include media-breakpoint-up(md) {
    width: 100%;
}

@include media-breakpoint-up(lg) {
    width: 100%;
}
}

.o_kanban_view .o_kanban_record.o_kanban_attachment {
    padding: 0;
    width: 31%;
}

.o_control_panel > div:first-of-type {
    display: block;
}

.o_control_panel .o_cp_searchview {
    width: 100%;
    min-height: auto;
}

.file_chunk_text {
    font-size: 1.5em;
    padding: 15px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background: whitesmoke;
}

.file_chunk_text_frame {
    padding-left: 15px;
    color: gray;
}

.file_chunk_tree th[data-name="user_label_ids"] {
    width: 20%;
}

.tender_proposal_template_lines_tree th[data-name="line_number"] {
    width: 2em;
}

.tender_proposal_lines_tree th[data-name="line_number"] {
    width: 2em;
}


.o_field_widget.o_field_many2manytags .badge .o_badge_text {
    max-width: none;
}

.tender_tree.o_list_view .o_list_table tbody > tr > td:not(.o_list_record_selector).o_list_text {
   white-space: nowrap;
}

.tender_proposal_tree.o_list_view .o_list_table tbody > tr > td:not(.o_list_record_selector).o_list_text {
    white-space: nowrap;
}

.o_field_widget.o_field_pdfviewer {
    height: 640px;
}

.o_field_widget .o_pdfview_iframe {
    height: 640px;
}

.centered_message {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -27%;
    margin-top: 2em;
}

.o_form_view .o_notebook {
    margin-top: 0px;
}

.o_form_view .oe_chatter {
    max-width: 1280px;
    padding: 0px 0px 48px;
}